@charset "utf-8";
/* CSS styles for IE browsers */

@font-face {
 font-family: "Walkway Bold";
 src: url("../font/WalkwayBold.eot"/*tpa=http://tf.dtbaker.com.au/template/shop_star/html_pink_version/font/WalkwayBold.eot*/) !important;
}

@font-face {
 font-family: "Walkway Black";
 src: url("../font/WalkwayBlack.eot"/*tpa=http://tf.dtbaker.com.au/template/shop_star/html_pink_version/font/WalkwayBlack.eot*/) !important;
}