<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Full Product</title>
<meta name="description" content="Description here for SEO" />
<meta name="keywords" content="Keywords here for SEO" />
<link rel="stylesheet" href="css/styles.css"   type="text/css" />
<script type="text/javascript" src="js/jquery-1.2.1.js" ></script>
<script type="text/javascript" src="js/chili-1.7.pack.js" ></script>
<script type="text/javascript" src="js/jquery.cycle.all.js" ></script>
<script type="text/javascript">
$(function() {
        $('#s1').cycle({fx:'fade',speed:1500,timeout:4000});
});
</script>
<!--[if IE 7]>
<style type="text/css">
#menucontainer ul li ul{
	display:none;
	position:absolute;
	margin:0px;
	margin-left:0px;
    margin-top:-20px;
	padding:0px;
	width:170px;
}
</style>
<![endif]-->
<!--[if IE 6]>

<script src="js/pngfix.js"  language="javascript"></script>

<![endif]-->
<!--[if IE]>
<link rel="stylesheet" href="css/styles-ie.css"   type="text/css" />
<![endif]-->

<!-- start jquery lightbox code -->
<link rel="stylesheet" href="js/lightbox/jquery.lightbox-0.5.css"  type="text/css" />
<script type="text/javascript" src="js/lightbox/jquery.lightbox-0.5.pack.js" ></script>
<script type="text/javascript" language="javascript">
$(function(){
	$('.lightbox').lightBox({
		imageLoading:			'js/lightbox/lightbox-ico-loading.gif'/*tpa=http://tf.dtbaker.com.au/template/shop_star/html_pink_version/js/lightbox/lightbox-ico-loading.gif*/,
		imageBtnPrev:			'js/lightbox/lightbox-btn-prev.gif'/*tpa=http://tf.dtbaker.com.au/template/shop_star/html_pink_version/js/lightbox/lightbox-btn-prev.gif*/,
		imageBtnNext:			'js/lightbox/lightbox-btn-next.gif'/*tpa=http://tf.dtbaker.com.au/template/shop_star/html_pink_version/js/lightbox/lightbox-btn-next.gif*/,
		imageBtnClose:			'js/lightbox/lightbox-btn-close.gif'/*tpa=http://tf.dtbaker.com.au/template/shop_star/html_pink_version/js/lightbox/lightbox-btn-close.gif*/,
		imageBlank:				'js/lightbox/lightbox-blank.gif'/*tpa=http://tf.dtbaker.com.au/template/shop_star/html_pink_version/js/lightbox/lightbox-blank.gif*/,
	});
});
</script>
<!-- end jquery lightbox code -->

</head>
<body>
<div id="bodybg">
  <div id="header">
    <div id="header_logo"><a href="index.html" ><img src="images/logo.png"  width="216" height="73" border="0" alt="Logo" /></a></div>
    <div id="cart">
      <ul class="text">
        <li><a href="#">0 items</a></li>
        <li><a href="#">$0.00</a></li>
        <li><a href="#">Checkout</a></li>
        <li style="border:none;"><a href="#">Your Account</a></li>
      </ul>
    </div>
    <!--end cart-->
    <ul id="navigation" style="position:relative; z-index:30;">
      <li><a href="index.html" >Home</a></li>
      <li class="second-level-holder"><a href="collection.html" >Collection</a>
        <ul class="second-level">
          <li> <a href="#">New Arrivals</a> </li>
          <li> <a href="#" onclick="return false;">Shop By Shoe Colour</a>
            <ul class="third-level">
              <li> <a href="#">Black</a></li>
              <li> <a href="#">White/ Ivory </a> </li>
              <li> <a href="#">Gold </a> </li>
              <li> <a href="#">Silver </a> </li>
              <li> <a href="#">Pink </a> </li>
              <li> <a href="#">Purple</a> </li>
              <li> <a href="#">Grey </a> </li>
              <li> <a href="#">Blue </a> </li>
            </ul>
          </li>
          <li> <a href="#" onclick="return false;">Shop By Size</a>
            <ul class="third-level">
              <li> <a href="#">5 </a> </li>
              <li> <a href="#">5 &frac12;</a> </li>
              <li> <a href="#">6 </a> </li>
              <li> <a href="#">6 &frac12;</a> </li>
              <li> <a href="#">7 </a> </li>
              <li> <a href="#">7 &frac12; </a> </li>
              <li> <a href="#">8 </a> </li>
              <li> <a href="#">8 &frac12; </a> </li>
              <li> <a href="#">9 </a> </li>
              <li> <a href="#">10</a> </li>
            </ul>
          </li>
        </ul>
      </li>
      <li> <a href="about_us.html" >About Us</a> </li>
      <li><a href="product_full.html" >Full Product</a></li>
      <li><a href="contact.html" >Contact </a></li>
    </ul>
  </div>
  <!-- end header -->
  <!-- start content -->
  <div id="contentbg">
    <div id="container">
      <div id="mainContent">
        <div id="right_side">
          <!-- content here -->
          <div id="product_full">
            <div class="left">
              <h1>Ladies Heel</h1>
              <p><strong>Code: 555</strong></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec congue massa. Vivamus auctor ultrices tortor eu malesuada. </p>
              <form action="http://tf.dtbaker.com.au/template/shop_star/html_pink_version/formsubmit.php" method="post">
                <fieldset id="product_options">
                  <label for="size">Size:</label>
                  <select name="size" class="forms" id="size">
                  <option>Size 5</option>
                  <option>Size 6</option>
                  <option>Size 7</option>
                  <option>Size 8</option>
                  </select>
                  <label for="color">Color:</label>
                  <select name="color" class="forms" id="color">
                  
                  <option>Black</option>
                  <option>Gold</option>
                  <option>Pink</option>
                  <option>Grey</option>
                  </select>
                  <label for="qty">Qty:</label>
                  <input name="qty" type="text" class="forms" id="qty" />
                </fieldset>
              </form>
              <!--price pannel-->
              <div id="product_cart">
                <div class="price">$25.95</div>
              </div>
              <div class="button"><img src="images/button_addtocart_lg.gif"  width="165" height="31" alt="Add to Cart" /></div>
              <!--end price-->
              <ul id="buttons">
                <li><a href="javascript:if(confirm('http://tf.dtbaker.com.au/template/shop_star/html_pink_version/products.html  \n\nThis file was not retrieved by Teleport Pro, because the server reports that this file cannot be found.  \n\nDo you want to open it from the server?'))window.location='http://tf.dtbaker.com.au/template/shop_star/html_pink_version/products.html'" ><img src="images/button_back.gif"  alt="Back" width="92" height="20" border="0" /></a></li>
              </ul>
              <!--end buttons-->
            </div>
            <!--end left-->
            <div class="right"> 
               <img src="images/product_full.jpg"  alt="large" width="370" height="370" class="image_border" />
              <ul class="small_thumb">
                <li><a href="images/product_full.jpg"  class="lightbox"><img src="images/product_tiny.jpg"  alt="Thumb" width="77" height="77" border="0" /></a></li>
                <li><a href="images/product_full.jpg"  class="lightbox"><img src="images/product_tiny.jpg"  alt="Thumb" width="77" height="77" border="0" /></a></li>
              </ul>
            </div>
            <!--end right-->
          </div>
          <!--end right column-->
        </div>
        <div id="left_side">
          <!--start search-->
          <div class="box_pink">
            <div class="top">
              <div class="title">Search</div>
            </div>
            <form action="" method="get" name="search">
              <input name="search" type="text" id="search_box" />
              <!-- set padding-top:1px in IE 6 and 7 if statement -->
              <div id="go_button">
                <input type="image" src="images/button_go.jpg"  style="width:33px;height:23px;" alt="Go!" title="Go!" />
              </div>
            </form>
          </div>
          <!--end search-->
          <!--start size-->
          <div class="box_pink">
            <div class="top">
              <div class="title">Shop by Size</div>
            </div>
            <ul id="star_list">
              <li> <a href="#">5</a></li>
              <li><a href="#">5.5</a></li>
              <li><a href="#">6</a></li>
              <li> <a href="#">6.5</a></li>
              <li> <a href="#">7</a></li>
              <li><a href="#">7.5</a></li>
              <li> <a href="#">8</a></li>
              <li><a href="#">8.5</a></li>
              <li> <a href="#">9</a></li>
              <li><a href="#">10</a></li>
            </ul>
            <br class="clear" />
          </div>
          <!--end size-->
          <!--start color-->
          <div class="box_pink">
            <div class="top">
              <div class="title">Shop by Color</div>
            </div>
            <ul id="color_list">
              <li><a href="#"><img src="images/icon_black.gif"  width="10" height="10" alt="black" />Black</a></li>
              <li> <a href="#"><img src="images/icon_white.gif"  width="10" height="10" alt="white" />White/ Ivory</a></li>
              <li> <a href="#"><img src="images/icon_gold.gif"  width="10" height="10" alt="gold" />Gold</a></li>
              <li> <a href="#"><img src="images/icon_silver.gif"  width="10" height="10" alt="silver" />Silver </a></li>
              <li><a href="#"><img src="images/icon_pink.gif"  width="10" height="10" alt="pink" />Pink</a></li>
              <li> <a href="#"><img src="images/icon_purple.gif"  width="10" height="10" alt="purple" />Purple</a></li>
              <li><a href="#"><img src="images/icon_grey.gif"  width="10" height="10" alt="grey" />Grey</a></li>
              <li><a href="#"><img src="images/icon_blue.gif"  width="10" height="10" alt="blue" />Blue</a></li>
            </ul>
            <br class="clear" />
          </div>
          <!--end color-->
          <img src="images/we_accept.gif"  width="189" height="82" alt="We Accept" /></div>
      </div>
      <hr class="clear" />
    </div>
    <!-- start footer -->
    <div id="footer">
      <div style="float:left">&copy; Shop Star</div>
      <div style="float:right; ">Designed by dtbaker | <a href="sitemap.php.htm" >Site Map</a> | <a href="contact.html" >Contact</a></div>
      <!-- end footer -->
    </div>
  </div>
  <!-- end content -->
</div>
</body>
</html>
