@charset "utf-8";
/*main*/
html, body {
	height: 100%;
}
body {
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	/*background: #e24f7f;*/
	margin: 0px;
	padding: 0px;
	color: #494949;
	/*background-image:url("../images/page_bg.jpg");*//*tiling texture behind stars at the top*/
	background-position:top left;
	background-repeat:repeat-x;
}
a:link {
	color: #b61a54;
}
a:visited {
	color: #b61a54;
}
a:hover {
	color: #eb5586;
	text-decoration:none;
}
a:active {
	color: #b61a54;
}
/*backgrounds*/

#bodybg {
	width:100%;
	/*background-image:url("../images/bg_tile.png");*/ /*stars*/
	background-repeat:repeat;
	background-position:right top;
	height:100%;
}
#contentbg { /*shadows down the side*/
	width:920px;
/*	background-image:url("../images/content_bg.png");*/
	background-repeat:no-repeat;
	background-position:top;
	margin:0px auto;
	clear:both;
}
#container {
	width:880px;
	margin: 0 auto;
	/*border-top:5px solid #b61a54;*/ /*pink line at the top of the white space*/
/*	border-bottom:5px solid #b61a54;*//*pink line at the bottom of the white space*/
	background-color:#FFF;
	min-height:600px;
}
/*header*/
#header {
	height: 150px;
	padding: 0px;
	margin: 0px auto;
	width:880px;
}
#header_logo {
/*	height: 73px;*/
	width: 290px;
	float:left;
/*	margin:0 0px 0px 255px; */
	/*margin:30px 0 0 290px;*/
/*    position:absolute;*/
     margin-left : 110px  ;

}
/*Cart box*/

#cart {
	width:60px;
	height:31px;
/*	background:url("../images/top_menu.png") repeat-x top;*/
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#b61a54;
	color:#CA0953;
}
#cart a, #cart a:link, #cart a:visited {
	color:#b61a54;
	text-decoration:none;
}
#cart a:hover {
	color:#ffffff;
	text-decoration:underline;
}
#cart .icon { /*code if you want to have an image infront of the cart text*/
	width:31px;
	height:33px;
	margin:1px 5px 0 5px;
	float:left;
}
#cart ul.text {
	width:235px;
	padding:0;
	margin:8px auto;
}
#cart .text li {
	list-style:none;
	float:left;
	padding:0px 5px 0 9px; /*spacing between text bars*/
	border-right:1px solid #CA0953;
	margin:0px;
	height:20px;
	line-height:normal;
}
#mainContent {
/*    padding:60px 10px 10px 10px;
	
	width: 860px;*/
	min-height:400px;
}
#left_side {
	width:189px;
	float:left;
}
#right_side {
	width:652px;
	/*float:right;*/
	margin-left:auto;
	margin-right:auto;
}
hr.clear, br.clear {
	clear:both;
	visibility:hidden;
	margin:0px;
	padding:0px;
	height:0;
	line-height:0;
	border:0;
}
#footer {
	padding: 10px;
	height:45px;
	margin:0px auto;
	clear:both;
	font-size:10px;
	color:#f8e6e6;
	width:850px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#footer a:link {
	color: #f8e6e6;
	text-decoration:none;
}
#footer a:visited {
	color: #f8e6e6;
	text-decoration:none;
}
#footer a:hover {
	color: #FFFFFF;
	text-decoration:underline;
}
#footer a:active {
	color: #f8e6e6;
	text-decoration:none;
}
/*-- navigation--*/
ul#navigation {
	float:right;
/*	clear:right;*/
/*	margin:120px 0 0 0;*/
	/*width:464px;*/ /*change this width if you need more room for your buttons*/

	width:200px;
	margin-top:120px;
	/*border:1px solid;*/
	
	
}

ul#navigation li {
	float:left;
	list-style:none;
	display:inline;
	margin:0;
	font-size:20px;
	color:#000000;
}
ul#navigation a {
	float:left;
	color:#FFFFFF;
	padding:5px 9px;
	display:block;
	text-decoration:none;
	font:15px/20px "Walkway Black", Arial, Helvetica, sans-serif;
	letter-spacing:2px;
}
ul#navigation li.hover a, ul#navigation li:hover a, ul#navigation a.active, ul#navigation a:hover {
	color:#ffff99;
}
ul#navigation li.second-level-holder.hover a, ul#navigation li.second-level-holder:hover a {
	background-color:#FFFFFF;
	color:#b61a54; /*the style for the main menu button that has a sub menu*/
}
/*--second-level--*/
ul#navigation li.hover, ul#navigation li:hover {
	position:relative;
}
ul#navigation li.hover ul.second-level, ul#navigation li:hover ul.second-level {
	display:block;
}
ul#navigation li.hover ul.second-level ul.third-level, ul#navigation li:hover ul.second-level ul.third-level {
	display:none;
}
ul#navigation ul.second-level {
	position:absolute;
	top:30px;
	left:0;
	margin:0;
	padding:0;
	width:160px;
	display:none;
	border:1px solid #fff;
	background:#ffffff url("../images/bg-sub-menu.gif") repeat-x bottom;
}
ul#navigation ul.second-level li {
	width:160px;
	margin:0;
}
ul#navigation ul.second-level a {
	display:block;
	float:none;
	width:140px;
	border:none;
	padding:0 10px;
	background:none;
	font:12px/24px Arial, Helvetica, sans-serif !important;
	letter-spacing:normal;
	color:#777777 !important; /*sub menu link color*/
}
ul#navigation ul.second-level li.hover a, ul#navigation ul.second-level li:hover a, ul#navigation ul.second-level a:hover {
	color:#bb265e;
	background:#ffd2ec;
}
/*--third-level--*/
ul#navigation ul.second-level li.hover ul.third-level, ul#navigation ul.second-level li:hover ul.third-level {
	display:block;
}
ul#navigation ul.second-level ul.third-level {
	position:absolute;
	z-index:999;
	top:-1px;
	left:160px;
	margin:0;
	padding:0;
	width:110px;
	display:none;
	border:1px solid #fff;
	background:#ffffff url("../images/bg-sub-menu.gif") repeat-x bottom;
}
ul#navigation ul.second-level ul.third-level li {
	float:left;
	width:110px;
	margin:0 1px;
	padding:0;
	border-bottom:1px solid #cccccc;
}
ul#navigation ul.second-level ul.third-level li.first, ul#navigation ul.second-level ul.third-level li.last {
	border:none;
}
ul#navigation ul.second-level ul.third-level a {
	display:block;
	width:99px;
	border:none;
	color:#777777;
	padding:0 0 0 11px;
	background:none;
	font:12px/24px georgia, Arial, Helvetica, sans-serif;
}
ul#navigation ul.second-level ul.third-level li.first a {
}
ul#navigation ul.second-level ul.third-level li.first a:hover, ul#navigation ul.second-level ul a:hover {
	color:#bb265e;
	background:#ffd2ec;
}
/*end menu*/

/*boxes with pink top*/
.box_pink .top {
	background: url("../images/box_top.gif") top no-repeat;
	width:189px;
	height:37px;
}
.box_pink .top .title {
	font-family: "Walkway Bold", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#b61a54;
	letter-spacing:1px;
	height:20px;
	padding:10px 5px 0 14px;
}
.box_pink {
	background-image:url("../images/box_bottom.gif");
	background-repeat:no-repeat;
	background-position:bottom;
	width:189px;
	margin-bottom:20px;
	min-height:70px;
	padding-bottom:10px;
}
.box_pink p {
	padding:0px;
}
#search_box {
	border:0px;
	padding:3px 0px 6px 3px;
	margin:0px 0px 0px 14px;
	background-image:url("../images/search_field.jpg");
	background-repeat:no-repeat;
	width:123px;
	float:left;
}
form {
	margin:0px;
	padding:0px;
}
#go_button {
	float:left;
	padding-top:0px;
}
/*star list*/

ul#star_list {
	margin:0px 0 10px 14px;
	padding:0px;
}
#star_list li {
	margin:0px;
	padding:3px 14px 3px 30px;
	list-style:none;
	background:url("../images/icon_star.gif") no-repeat 15px; /*the number indents the star icon*/
	border-bottom:1px solid #d7d7d7;
	line-height:normal;
	float:left;
	width:35px; /*the width and float make the list go into 2 columns*/
}
#star_list a, #star_list a:link, #star_list a:visited {
	color:#c6376c;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
}
/*shop by color*/

ul#color_list {
	margin:0px 0 10px 14px;
	padding:0px;
}
#color_list li {
	margin:0px;
	padding:3px 0px 3px 0px;
	list-style:none;
	line-height:normal;
	float:left;
	width:85px; /*the width and float make the list go into 2 columns*/
}
#color_list a, #color_list a:link, #color_list a:visited {
	color:#c6376c;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
}
ul#color_list img {
	border:0px;
	margin-right:5px;
}
/*slide show*/
#banner {
	margin:0px auto;
	height: 250px; /*make sure this height is right or your content will slip under the banner.*/
}
.grey_table_sml {
	width:202px;
	border: #f4ede9 1px solid;
	padding:2px;
}
.grey_table_sml h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#483400;
	background-image:url("../images/icon_orange_line.gif");
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:6px;
	margin:3px 3px 3px 6px;
}
.grey_table_sml p {
	font-size:10px;
	color:#777777;
	line-height:normal;
	margin:3px 3px 3px 6px;
}
.grey_table {
	border: #f4ede9 1px solid;
	padding:2px;
}
.small_grey {
	font-size:10px;
	color:#777777;
	line-height:normal;
}
.small_brown {
	font-size:11px;
	color:#4b4129;
	line-height:normal;
}
h1 {
	font-family: "Walkway Bold", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:24px;
	line-height:normal;
	color:#b61a54;
	letter-spacing:2px;
	margin:0;
	padding:15px 0 0px 0;
}
h2 {
	font-family:verdana, arial, Helvetica, sans-serif;
	font-size:18px;
	border-bottom:#e7e7e7 solid 1px;
	color:#b61a54;
	font-weight:normal;
	padding-bottom:3px;
}
h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}
h4 {
	font-family:verdana, arial, Helvetica, sans-serif;
	font-size:14px;
	color:#a6ca00;
}
h5 {
	font-family:verdana, arial, Helvetica, sans-serif;
	font-size:14px;
	color:#00538d;
	border-bottom: 1px solid #b5cdde;
	margin-bottom: 1px;
}
.forms {
	background-color: #FFFFFF !important;
	border: 1px solid #CCCCCC !important;
}
.form_sml {
	background-color: #FFFFFF !important;
	border: 1px solid #CCCCCC !important;
	margin:0px;
	padding:1px;
	font-size:10px;
	color:#666666;
}
.red {
	color: #e90200;
}
.image_border {
	border: 1px solid #cccccc;
	margin: 3px 10px;
	padding: 3px;
}
hr {
	border: 0;
	color: #b5cdde;
	background-color: #b5cdde;
	height: 1px;
	width: 100%;
	text-align: left;
}
.table_border td {
	border-bottom: 1px dashed #CCCCCC;
	padding-bottom:5px;
}
.news_date {
	font-size:10px;
	font-style:italic;
	color:#999999;
}
/* font sizes */
.size9 {
	font-size:9px;
}
.size10 {
	font-size:10px;
}
.size11 {
	font-size:11px;
}
.size12 {
	font-size:12px;
}
.size14 {
	font-size:14px;
}
.size20 {
	font-size:20px;
}
.pink_text {
	color:#b71b49;
}
.slide {
	width:652px;
	height:251px;
}
/*special fonts*/

@font-face {
 font-family: "Walkway Bold";
 src: url("../font/WalkwayBold.ttf") format("truetype");
}
@font-face {
 font-family: "Walkway Black";
 src: url("../font/WalkwayBlack.ttf") format("truetype");
}
/*home page*/

.left_column {
	float:left;
	width:435px;
}
.right_column {
	float:right;
	width:190px;
	padding-top:15px;
}
/*specials*/
.special_thumb {
	border:1px solid #dfdfdf;
	padding:3px;
	margin:0px auto;
	width:143px;
}
.special_padding {
	padding-left:5px;
	padding-top:10px;
}
.special_text {
	color:#999;
	float:left;
	width:70px;
}

.view_all{
	float:right;
	width:100px;
	text-align:right;
	
}
.special_text .price {
	text-decoration:line-through;
}
/*product page*/

.product {
	width:178px;
	min-height:230px;
/*	border-bottom:1px solid #dfdfdf;*/
	padding:0px;
}
.product .thumb {
	width:170px;
	height:170px;
/*	border:1px solid #dfdfdf;*/
	padding:3px;
	text-align:center;
}
.product .title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	text-align:center;
	margin:2px 0;
}
.product .bottom {
	clear:both;
	margin:10px auto 0 ;
	height:23px;
	width: 80px;
}
.product .bottom .tag {
	float:left;
	width:16px;
	height:16px;
	margin:2px 5px 0 0;
}
.product .bottom .price {
	width:55px;
	float:left;
	color:#c6376c;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.product .bottom .addtocart {
	width:94px;
	height:18px;
	float:right;
	margin-top:1px;
}
ul.product_list {
	margin:0px 0 0 10px; /*indent on the left*/
	padding:0px;
}
.product_list li {
	margin:0px;
	padding:0px 30px 40px 0px; /*padding on the right and bottom.*/
	list-style:none;
	float:left;
	border-top: 1px solid #DFDFDF;
	border-right : 1px solid #DFDFDF;
}
ul#buttons {
	/*width:330px;*/
	height:20px;
	margin:10px auto;
	clear:both;
	padding:0px;
}
#buttons li {
	list-style:none;
	float:left;
	margin:0 40px 0 0px;
}
/*product full description*/

#product_full {
}
#product_full .left {
	width:388px;
	float:left;
}
#product_full .right {
	width:235px;
	float:right;
/*	text-align:center;*/
}
#product_cart {
	height:32px;
/*	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;*/
	padding:5px 0;
	clear:both;
	margin:0;
}
#product_cart .price {
	width:235px;
	height:30px;
	text-align:left;
	color:#b61a54;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-top:5px;
}

#product_cart form {
	margin:0px;
	padding:0px;
}

.button {
	width:235px;
	height:31px;
	text-align:center;
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
	
}
.image_border {
	border:1px solid #dfdfdf;
	padding:3px;
}
ul.small_thumb {
	margin:10px 0px 0 0; /*indent on the top right*/
	padding:0px;
}
.small_thumb li {
	width:77px;
	height:76px;
/*	border:1px solid #dfdfdf;*/
	padding:3px;
	margin:0px 0px 10px 10px; /*padding on the right and bottom.*/
	list-style:none;
	float:left;
}
.forms {
	background-color:#ffffff !important;/*the important gets rid of the yellow google toolbar field style*/
	border:1px solid #e2e2e2 !important;
	margin:3px 0px;
	padding:4px;
	color:#666666 !important;
}
#product_options {
	border:0;
	width:218px; /*this width keeps the form fields in line*/
}
#product_options label {
	float:left;
	width:70px;
	margin-right:15px;
	clear:left;
	color:#999999;
/*	text-align:right;*/
	height:40px;
	font-size:16px;
}
#product_options input {
	width:80px;
	padding:5px;
}
#product_options select {
	/*width:91px;*/ /*change this width if the text in your dropdown box is longer than a few words*/
	padding:5px;
}
#product_options #submit {
	clear:left;
	margin-left:95px;
}

.add-to-cart #edit-qty-wrapper {
	border:0;
	width:218px; /*this width keeps the form fields in line*/
}
.add-to-cart #edit-qty-wrapper  label {
	float:left;
	width:70px;
	margin-right:15px;
	clear:left;
	color:#999999;
/*	text-align:right;*/
	height:40px;
	font-size:16px;
	padding-top: 8px;
}
.add-to-cart #edit-qty-wrapper  input {
	width:80px;
	padding:5px;
	background-color:#FFFFFF !important;
	border:1px solid #E2E2E2 !important;
	color:#666666 !important;
	margin:3px 0;

}
.add-to-cart #edit-qty-wrapper  select {
	/*width:91px;*/ /*change this width if the text in your dropdown box is longer than a few words*/
	padding:5px;
}
.add-to-cart #edit-qty-wrapper  #submit {
	clear:left;
	margin-left:95px;
}

/*About Page*/

.service_table{
	border-bottom:1px solid #ffd4e5;
}
.service_table td {
	padding:3px 8px;
	color:#666666;
	font-size:12px;
	height:28px;
}
th { /*top row of the table*/
	background-color:#ffd4e5;
	color:#b61a54;
	font-weight:bold;
	border-bottom:1px solid #ffffff;
	height:28px;
}
.row1 {
	background-color:#fff3f8;
}
.row2 {
	background-color:#fffcfd;
}
ul.ticklist {
	
	margin:0px 0 20px 0; /*space at the bottom of the list*/
	padding:0px;
}
.ticklist li {
	background:url("../images/icon_tick.gif") no-repeat left;
	line-height:25px; /*spacing between rows*/
	/*width:200px; turn this on if you want your list to be in 2 rows
	float:left;*/
	margin:0 20px 0 0;
	padding:0 0 0 25px;
	display:block;
	list-style:none;
}

/*contact page*/
.right_details{
	float:right;
	width:430px;
	margin-top:15px;
	border-left:1px solid #CCC;
	padding-left:30px;
}
.right_details h1{
	margin-top:0px;
	padding-top:0px;
}
.left_details h1{
	margin-top:0px;
	padding-top:0px;
}

.left_details {
	float:left;
	width:180px;
	
		margin-top:15px;
	
}
.contact_title {
	color:#b61a54;
	font-weight:bold;
	float:left;
	width:70px;
}
.contact_detail {
	float:left;
	width:100px;
	clear:right;
}

#contact {
	border:0;
	width:450px; /*this width keeps the form fields in line*/
}
#contact label {
	float:left;
	width:80px;
	margin-right:15px;
	clear:left;
	color:#b61a54;
	font-weight:bold;
	text-align:right;
	height:32px;
}
#contact input, #contact textarea {
	margin-right:40px;
}
#contact #submit {
	clear:left;
	margin-left:95px;
	margin-top:5px;
}
.uc-price {
	float:none;
}
.add-to-cart input.node-add-to-cart{ display:none;}
/*.cloud-zoom img{ margin:auto;}*/
#cart-block-contents{
	background : none;
	position:absolute; 
	display:none;
}

ul#navigation1 {
	/*float:right;*/
	clear:right;
	margin:82px 0 0 0;
	/*width:464px;*/ /*change this width if you need more room for your buttons*/
	z-index:20;
}

ul#navigation1 li {
	float:left;
	list-style:none;
	display:inline;
	margin:0;
}
ul#navigation1 a {
	float:left;
	color:#000000;
	padding:5px 9px;
	display:block;
	text-decoration:none;
	font:15px/20px "Walkway Black", Arial, Helvetica, sans-serif;
	letter-spacing:2px;
}
ul#navigation1 li.hover a, ul#navigation1 li:hover a, ul#navigation1 a.active, ul#navigation1 a:hover {
	color:#E35180;
}
ul#navigation1 li.second-level-holder.hover a, ul#navigation1 li.second-level-holder:hover a {
	background-color:#FFFFFF;
	color:#b61a54; /*the style for the main menu button that has a sub menu*/
}
#header_nav {
font-family:"century gothic",Verdana,Arial,Helvetica,sans-serif;
font-size:14px;
height:50px;
background-color:#DB0253;
/*left:250px;
padding:0;
position:absolute;
top:55px;*/
padding-top:3px;
}
#header_nav ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
text-align:center;

}
#header_nav ul li {
color:#FFFFFF;
display:inline;
/*margin-right:0.35em;*/
/*padding-right:0.35em;*/
}
#header_nav ul li a{ color:#FFFFFF;text-decoration:none; font-size:20px; font-style:normal; font-family:Verdana, Arial, Helvetica, sans-serif;}

#bot_nav {
font-family:"century gothic",Verdana,Arial,Helvetica,sans-serif;
font-size:14px;
height:50px;
background-color:#DB0253;
/*left:250px;
padding:0;
position:absolute;
top:55px;*/
padding-top:3px;
}
#bot_nav ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
text-align:center;

}
#bot_nav ul li {
color:#FFFFFF;
display:inline;
/*margin-right:0.35em;*/
padding-right:0.35em;
}
#bot_nav ul li a{ color:#FFFFFF;text-decoration:none; font-size:13px; font-style:normal; font-family:Verdana, Arial, Helvetica, sans-serif;}
#header_nav ul li a.active { font-weight:bold;}
#bot_nav ul li a.active { font-weight:bold;}
.product_list li.p-last{ border-right: none;}
.product_list li.p-first{ border-top: none;}
.cart-block-title-bar{ font-size:20px; color:#000000; padding-right:6px;}
.uc-price-display { font-size:16px; text-align:left;}
.price .text-price {color:#999999; width:80px; float:left;}


.cloud-zoom-lens {
	border: 1px solid #888;
	margin:-4px;	
	background-color:#fff;	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

.cloud-zoom-big {
	border:1px solid #ccc;
	overflow:hidden;
}


.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}




/* Test here */
/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Helvetica,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=2px&bgColorHeader=dddddd&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=50&borderColorHeader=dddddd&fcHeader=444444&iconColorHeader=0073ea&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=dddddd&fcContent=444444&iconColorContent=ff0084&bgColorDefault=f6f6f6&bgTextureDefault=03_highlight_soft.png&bgImgOpacityDefault=100&borderColorDefault=dddddd&fcDefault=0073ea&iconColorDefault=666666&bgColorHover=0073ea&bgTextureHover=03_highlight_soft.png&bgImgOpacityHover=25&borderColorHover=0073ea&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=dddddd&fcActive=ff0084&iconColorActive=454545&bgColorHighlight=ffffff&bgTextureHighlight=01_flat.png&bgImgOpacityHighlight=55&borderColorHighlight=cccccc&fcHighlight=444444&iconColorHighlight=0073ea&bgColorError=ffffff&bgTextureError=01_flat.png&bgImgOpacityError=55&borderColorError=ff0084&fcError=222222&iconColorError=ff0084&bgColorOverlay=eeeeee&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=80&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=60&thicknessShadow=4px&offsetTopShadow=-4px&offsetLeftShadow=-4px&cornerRadiusShadow=0px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Helvetica, Arial, sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Helvetica, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #444444; }
.ui-widget-content a { color: #444444; }
.ui-widget-header { border: 1px solid #dddddd; background: #dddddd url(images/ui-bg_highlight-soft_50_dddddd_1x100.png) 50% 50% repeat-x; color: #444444; font-weight: bold; }
.ui-widget-header a { color: #444444; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #dddddd; background: #f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #0073ea; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #0073ea; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #0073ea; background: #0073ea url(images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #dddddd; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ff0084; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ff0084; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #cccccc; background: #ffffff url(images/ui-bg_flat_55_ffffff_40x100.png) 50% 50% repeat-x; color: #444444; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #444444; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #ff0084; background: #ffffff url(images/ui-bg_flat_55_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #222222; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #222222; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_ff0084_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_ff0084_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_0073ea_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_666666_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_0073ea_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_ff0084_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; }
.ui-corner-tr { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; }
.ui-corner-br { -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; }
.ui-corner-top { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; }
.ui-corner-right {  -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; }
.ui-corner-left { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; }
.ui-corner-all { -moz-border-radius: 2px; -webkit-border-radius: 2px; }

/* Overlays */
.ui-widget-overlay { background: #eeeeee url(images/ui-bg_flat_0_eeeeee_40x100.png) 50% 50% repeat-x; opacity: .80;filter:Alpha(Opacity=80); }
.ui-widget-shadow { margin: -4px 0 0 -4px; padding: 4px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .60;filter:Alpha(Opacity=60); -moz-border-radius: 0px; -webkit-border-radius: 0px; }/* Tabs
----------------------------------*/
.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }


